* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@mixin flex($value) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $value;
}

#main {
  height: 100vh;
  width: 100vw;
  @include flex(column);
  background-color: rgba(27, 27, 228, 0.274);
  color: azure;
  gap: 10px;
}
#center {
  width: 600px;
  height: 500px;
  @include flex(row);
  align-items: flex-start;
  padding: 30px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
  gap: 20px;
}

#card {
  @include flex(column);
  gap: 10px;
  border: 1px solid black;
  background-color: #87ceeb;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  height: 300px;
}
#inp {
  height: 26px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border-style: none;
  cursor: pointer;
}
#butt{
  position: relative;
  top:18px;
  &:hover{
   
    color: red;
    cursor: pointer;

  }
}